@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <link href="app.css" rel="stylesheet" />
    <link href="NexusAssets.Server.UI.styles.css" rel="stylesheet" />
    
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <ImportMap />
</head>

<body class="bg-slate-50">
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    
    
    <div id="blazor-error-ui">
        Um erro inesperado ocorreu.
        <a href="" class="reload">Recarregar</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script>
        window.downloadFile = async (fileName, contentStreamReference) => {
            
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            const url = URL.createObjectURL(blob);
            
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? 'Exportacao.xlsx';
            
            document.body.appendChild(anchorElement);
            anchorElement.click();
            
            
            document.body.removeChild(anchorElement);
            URL.revokeObjectURL(url);
        }
    </script>
</body>

</html>

@code {
}